@using portal.Models
@model Sorular
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <form method="post">
            <div class="form-group mt-3 mb-3">
                <label>Soru</label>
                <input type="text" class="form-control" asp-for="Soru" />
                <label>Puanı</label>
                <input type="text" class="form-control" asp-for="SoruPuani" />
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

